@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply font-urbanist bg-black-bg;
  }
  h1 {
    @apply font-urbanist text-[42px] md:text-[100px] md:leading-[4.5rem] leading-[2px] tracking-wide;
  }
  h3 {
    @apply font-urbanist text-[25px] font-bold leading-10;
  }
}

@layer components {
  .hero-background {
    background-image: url("./assets/Rectangle.png");
  }
  .max-container {
    max-width: 1140px;
    margin: 0 auto;
  }
  .button {
    @apply font-urbanist text-xs font-bold uppercase;
    background: linear-gradient(to right, white 50%, #ffa500 50%);
    background-size: 200% 100%;
    background-position: var(--bg-pos, 0% 0);
    transition: background-position 0.2s;
  }

  .overflow-hidden {
    overflow: hidden;
  }
  .progress-bar {
    @apply fixed top-0 left-0 right-0 h-[3px] bg-[#ffa500] origin-[0%];
  }
  @media (max-width: 767px) {
    .hide-animation {
      animation: none !important;
    }
  }
  .maskImg {
    mask-image: linear-gradient(
      to right,
      hsla(241, 100%, 50%, 0),
      hsl(190, 100%, 50%) 10%,
      hsl(241, 100%, 50%) 90%,
      hsla(224, 100%, 50%, 0)
    );
  }
}
